<div class="row login-row">
	<div class="col-xs-3">
		<%= render 'public/items/genre_search_form', genres: @genres %>
    </div>
    <div class="col-xs-9">
    	<div>
				<%= image_tag("top.png", class: "top_image") %>

				<div class="main-visual">
				<h1>About</h1>
					<p class="main-visual-text">
						ながのCakeは全国発送可能なケーキ屋さんです。<br>
				    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
						様々なバリエーションを用意しております。<br>
						また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
						ぜひ、ご注文ください。
					</p>
				</div>
			</div>
