<div class="col-xs-9">
<div class="main-visual">

 <p class="main-visual-text">
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。
</p>
</div>

<div class="recommend">
 <h2>オススメ商品</h2>

<div class="item-box">

<table class="table">
 <tr>
 <th><%= link_to public_items_index_path do %>


 </th>
 </tr>

 <tr>
 <th><%= link_to  admin_items_new_path %></th>
 </tr>

 <tr>
 <th></th>
</tr>
</table>
</div>
		   <% end %>
</div>
</div>
<div class="index-link">
<%= link_to "もっと見る>", admin_items_new_path %>
</div>
</div>

