<div class="col-xs-9">
<div class="main-visual">

 <p class="main-visual-text">
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。
</p>
</div>

<div class="recommend">
 <h2>オススメ商品</h2>

<div class="item-box">

<table class="table">
 <tr>
 <th><%#= link_to '商品一覧', public_items_index_path  %>
 </th>
 </tr>

</table>
</div>

</div>
</div>
<div class="index-link">
<%= link_to "もっと見る>",  public_items_index_path %>
</div>
</div>

